.contentCard {
  box-sizing: border-box;
  background-color: hsl(var(--primary));
  color: hsl(var(--secondary));
  padding: 16px 32px;
  /* box-shadow: 4px 4pxhsl(var(--secondary)); */
  border: 1px solidhsl(var(--secondary));
  width: 100%;
  max-width: 700px;
  display: border-box;
}

.contentCardWrapper {
  padding: 1em;
  background-color: hsl(var(--primary));
}

.title {
  box-shadow: 4px 4pxhsl (var(--secondary));
  box-shadow: none;
  border: 12px solid green;
  border: 1px solidhsl(var(--secondary));
  box-shadow: 4px 4pxhsl (var(--secondary));
  display: inline-block;
  text-align: center;
}

.invertedContentCard {
  background-color: hsl(var(--secondary));
  color: hsl(var(--primary));
  box-shadow: 8px 8pxhsl (var(--primary));
  box-shadow: none;
  border: 2px solidhsl(var(--primary));
  padding: 0 16px;
}
