.header {
  padding: 1em 0;
  font-weight: bold;
  background-color: var(--primary);
  top: 16px;
  width: 100%;
}

.header_outer {
  width: 100%;
  border-bottom: 4px solid var(--secondary);
  display: flex;
  justify-content: center;
}

.header_inner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.header_home_link {
  color: var(--secondary);
  text-decoration: none;
  padding: 1em 0;
  font-size: 20px;
}

.mobileNav {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding-bottom: 1em;
}

.mobileMenu {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--primary);
  width: 100%;
  @media screen and (min-width: 600px) {
    display: none;
  }
}
.mobileMenuToggle {
  cursor: pointer;
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 600px) {
    display: block;
  }
}
